<?xml version="1.0" encoding="utf-8"?>
<xliff xmlns="urn:oasis:names:tc:xliff:document:1.2" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.2" xsi:schemaLocation="urn:oasis:names:tc:xliff:document:1.2 xliff-core-1.2-transitional.xsd">
  <file datatype="xml" original="Context.xml" source-language="en-US" target-language="pt-BR">
    <header>
      <tool tool-id="mdxliff" tool-name="mdxliff" tool-version="1.0-15c36f0" tool-company="Microsoft" />
      <xliffext:skl_file_name xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">02cd5861-7ce2-4a82-b358-31f8435a0ac51e0c26cb60ed91334efcc1c19a0eb91f6b7992b6.skl</xliffext:skl_file_name>
      <xliffext:version xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">1.2</xliffext:version>
      <xliffext:ms.openlocfilehash xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">1e0c26cb60ed91334efcc1c19a0eb91f6b7992b6</xliffext:ms.openlocfilehash>
      <xliffext:ms.sourcegitcommit xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">d31dc2ede16f6f7bc64e90d9f897ff54c4e3869b</xliffext:ms.sourcegitcommit>
      <xliffext:ms.lasthandoff xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">04/03/2018</xliffext:ms.lasthandoff>
      <xliffext:moniker_ids xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">netframework-4.5.1,netframework-4.5.2,netframework-4.5,netframework-4.6.1,netframework-4.6.2,netframework-4.6,netframework-4.7.1,netframework-4.7,xamarinandroid-7.1,xamarinios-10.8,xamarinmac-3.0</xliffext:moniker_ids>
    </header>
    <body>
      <group id="content" extype="content">
        <trans-unit id="101" translate="yes" xml:space="preserve" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Defines an environment for the objects that are resident inside it and for which a policy can be enforced.</source>
          <target state="translated">Define um ambiente para os objetos que residem dentro dele e aos quais uma política pode ser aplicada.</target>       </trans-unit>
        <trans-unit id="102" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>A context is an ordered sequence of properties that define an environment for the objects resident inside it.</source>
          <target state="translated">Um contexto é uma sequência ordenada de propriedades que definem um ambiente para os objetos residentes dentro dele.</target>       </trans-unit>
        <trans-unit id="103" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Contexts get created during the activation process for objects that are configured to require certain automatic services, such as synchronization, transactions, just-in-time activation, security, and so on.</source>
          <target state="translated">Contextos são criados durante o processo de ativação para objetos que são configurados para exigir que determinados serviços automática, como sincronização, transações, ativação just-in-time, segurança e assim por diante.</target>       </trans-unit>
        <trans-unit id="104" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Multiple objects can live inside a context.</source>
          <target state="translated">Vários objetos podem residir em um contexto.</target>       </trans-unit>
        <trans-unit id="105" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Classes are marked with an instance of the <ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.ContextAttribute&gt;</ph> class, which provides the usage rules.</source>
          <target state="translated">Classes são marcadas com uma instância do <ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.ContextAttribute&gt;</ph> classe, que fornece as regras de uso.</target>       </trans-unit>
        <trans-unit id="106" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Whenever a new object is instantiated, the .NET Framework finds a compatible or creates a new instance of the <ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.Context&gt;</ph> class for the object.</source>
          <target state="translated">Sempre que um novo objeto é instanciado, o .NET Framework encontra um compatível ou cria uma nova instância do <ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.Context&gt;</ph> classe do objeto.</target>       </trans-unit>
        <trans-unit id="107" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Once an object is placed in a context, it stays in it for life.</source>
          <target state="translated">Depois que um objeto é colocado em um contexto, ela permanece nele vida.</target>       </trans-unit>
        <trans-unit id="108" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Classes that can be bound to a context are called context-bound classes.</source>
          <target state="translated">Classes que podem ser associados a um contexto são chamadas de classes associadas.</target>       </trans-unit>
        <trans-unit id="109" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>When accessed from another context, such classes are referenced directly by using a proxy.</source>
          <target state="translated">Quando acessado de outro contexto, essas classes são referenciados diretamente por meio de um proxy.</target>       </trans-unit>
        <trans-unit id="110" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Any call from an object in one context to an object in another context will go through a context proxy and be affected by the policy that the combined context properties enforce.</source>
          <target state="translated">Qualquer chamada de um objeto em um contexto para um objeto em outro contexto passará por um proxy de contexto e ser afetada pela política que impõem as propriedades de contexto combinado.</target>       </trans-unit>
        <trans-unit id="111" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>A new object's context is generally chosen based on meta-data attributes on the class.</source>
          <target state="translated">Contexto de um novo objeto geralmente é escolhido com base em atributos de metadados na classe.</target>       </trans-unit>
        <trans-unit id="112" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>This mechanism is extensible through custom attributes.</source>
          <target state="translated">Esse mecanismo é extensível por meio de atributos personalizados.</target>       </trans-unit>
        <trans-unit id="113" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>These are known as static-context properties, which are compiled into the class meta-data.</source>
          <target state="translated">Eles são conhecidos como propriedades de contexto estático, que são compiladas em metadados de classe.</target>       </trans-unit>
        <trans-unit id="114" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>Dynamic-context properties (also known as configuration properties) can be applied and configured by administrators.</source>
          <target state="translated">Propriedades de contexto dinâmico (também conhecidas como propriedades de configuração) podem ser aplicadas e configuradas por administradores.</target>       </trans-unit>
        <trans-unit id="115" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Runtime.Remoting.Contexts.Context">
          <source>For more information on contexts, see <bpt id="p1">[</bpt>&amp;#91;<ph id="ph1">\&lt;</ph>topic://cpconboundariesprocessesapplicationdomainscontexts&gt;&amp;#93;<ept id="p1">](http://msdn.microsoft.com/library/7574180d-70df-44b8-8b78-55a119f2c96d)</ept>.</source>
          <target state="translated">Para obter mais informações sobre os contextos, consulte <bpt id="p1">[</bpt> &amp;#91; <ph id="ph1">\&lt;</ph>topic://cpconboundariesprocessesapplicationdomainscontexts &gt;&amp;#93;<ept id="p1">](http://msdn.microsoft.com/library/7574180d-70df-44b8-8b78-55a119f2c96d)</ept>.</target>       </trans-unit>
        <trans-unit id="116" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.#ctor">
          <source>Initializes a new instance of the <ph id="ph1">&lt;see cref="T:System.Runtime.Remoting.Contexts.Context" /&gt;</ph> class.</source>
          <target state="translated">Inicializa uma nova instância da classe <ph id="ph1">&lt;see cref="T:System.Runtime.Remoting.Contexts.Context" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="117" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateDataSlot">
          <source>Allocates an unnamed data slot.</source>
          <target state="translated">Aloca um slot de dados sem nome.</target>       </trans-unit>
        <trans-unit id="118" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateDataSlot">
          <source>A local data slot.</source>
          <target state="translated">Um slot de dados locais.</target>       </trans-unit>
        <trans-unit id="119" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateDataSlot">
          <source>The slot is allocated on all the contexts.</source>
          <target state="translated">O slot está alocado em todos os contextos.</target>       </trans-unit>
        <trans-unit id="120" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateNamedDataSlot(System.String)">
          <source>The required name for the data slot.</source>
          <target state="translated">O nome necessário para o slot de dados.</target>       </trans-unit>
        <trans-unit id="121" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateNamedDataSlot(System.String)">
          <source>Allocates a named data slot.</source>
          <target state="translated">Aloca um slot de dados nomeado.</target>       </trans-unit>
        <trans-unit id="122" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateNamedDataSlot(System.String)">
          <source>A local data slot object.</source>
          <target state="translated">Um objeto do slot de dados locais.</target>       </trans-unit>
        <trans-unit id="123" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateNamedDataSlot(System.String)">
          <source>The slot is allocated on all the contexts.</source>
          <target state="translated">O slot está alocado em todos os contextos.</target>       </trans-unit>
        <trans-unit id="124" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.AllocateNamedDataSlot(System.String)">
          <source>Named data slots are public and can be manipulated by anyone.</source>
          <target state="translated">Slots de dados nomeada são públicos e podem ser manipulados por qualquer pessoa.</target>       </trans-unit>
        <trans-unit id="125" translate="yes" xml:space="preserve" uid="P:System.Runtime.Remoting.Contexts.Context.ContextID">
          <source>Gets the context ID for the current context.</source>
          <target state="translated">Obtém a ID de contexto do contexto atual.</target>       </trans-unit>
        <trans-unit id="126" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Runtime.Remoting.Contexts.Context.ContextID">
          <source>The context ID for the current context.</source>
          <target state="translated">A ID do contexto para o contexto atual.</target>       </trans-unit>
        <trans-unit id="127" translate="yes" xml:space="preserve" uid="P:System.Runtime.Remoting.Contexts.Context.ContextProperties">
          <source>Gets the array of the current context properties.</source>
          <target state="translated">Obtém a matriz de propriedades do contexto atual.</target>       </trans-unit>
        <trans-unit id="128" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Runtime.Remoting.Contexts.Context.ContextProperties">
          <source>The current context properties array; otherwise, <ph id="ph1">&lt;see langword="null" /&gt;</ph> if the context does not have any properties attributed to it.</source>
          <target state="translated">A matriz de propriedades de contexto atual; Caso contrário, <ph id="ph1">&lt;see langword="null" /&gt;</ph> se o contexto não têm propriedades atribuídas a ele.</target>       </trans-unit>
        <trans-unit id="129" translate="yes" xml:space="preserve" uid="P:System.Runtime.Remoting.Contexts.Context.DefaultContext">
          <source>Gets the default context for the current application domain.</source>
          <target state="translated">Obtém o contexto padrão do domínio do aplicativo atual.</target>       </trans-unit>
        <trans-unit id="130" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Runtime.Remoting.Contexts.Context.DefaultContext">
          <source>The default context for the <ph id="ph1">&lt;see cref="T:System.AppDomain" /&gt;</ph> namespace.</source>
          <target state="translated">O contexto padrão para o <ph id="ph1">&lt;see cref="T:System.AppDomain" /&gt;</ph> namespace.</target>       </trans-unit>
        <trans-unit id="131" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Runtime.Remoting.Contexts.Context.DefaultContext">
          <source>Every thread in an application domain for which a context is not explicitly set is considered to be running in the default context.</source>
          <target state="translated">Cada thread em um domínio de aplicativo para o qual um contexto não está definido explicitamente é considerado para ser executado no contexto padrão.</target>       </trans-unit>
        <trans-unit id="132" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.DoCallBack(System.Runtime.Remoting.Contexts.CrossContextDelegate)">
          <source>The delegate used to request the callback.</source>
          <target state="translated">O delegado usado para solicitar o retorno de chamada.</target>       </trans-unit>
        <trans-unit id="133" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.DoCallBack(System.Runtime.Remoting.Contexts.CrossContextDelegate)">
          <source>Executes code in another context.</source>
          <target state="translated">Executa código em outro contexto.</target>       </trans-unit>
        <trans-unit id="134" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.DoCallBack(System.Runtime.Remoting.Contexts.CrossContextDelegate)">
          <source>A callback can be done by calling the <ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.Context.DoCallBack%2A&gt;</ph> method on it by passing in a delegate.</source>
          <target state="translated">Um retorno de chamada pode ser feito ao chamar o <ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.Context.DoCallBack%2A&gt;</ph> método passando um delegado.</target>       </trans-unit>
        <trans-unit id="135" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.DoCallBack(System.Runtime.Remoting.Contexts.CrossContextDelegate)">
          <source>The delegate is used to request a callback.</source>
          <target state="translated">O representante é usado para solicitar um retorno de chamada.</target>       </trans-unit>
        <trans-unit id="136" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.DoCallBack(System.Runtime.Remoting.Contexts.CrossContextDelegate)">
          <source>The delegate must be a <ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.CrossContextDelegate&gt;</ph> class type.</source>
          <target state="translated">O representante deve ser um <ph id="ph1">&lt;xref:System.Runtime.Remoting.Contexts.CrossContextDelegate&gt;</ph> tipo de classe.</target>       </trans-unit>
        <trans-unit id="137" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.Finalize">
          <source>Cleans up the backing objects for the nondefault contexts.</source>
          <target state="translated">Limpa os objetos de suporte dos contextos não padrão.</target>       </trans-unit>
        <trans-unit id="138" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.Finalize">
          <source>For default contexts, backing objects are cleaned up during shut down of the <ph id="ph1">&lt;xref:System.AppDomain&gt;</ph> class.</source>
          <target state="translated">Contextos de padrão de backup objetos são limpos durante o desligamento para baixo do <ph id="ph1">&lt;xref:System.AppDomain&gt;</ph> classe.</target>       </trans-unit>
        <trans-unit id="139" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.FreeNamedDataSlot(System.String)">
          <source>The name of the data slot to free.</source>
          <target state="translated">O nome do slot de dados a ser liberado.</target>       </trans-unit>
        <trans-unit id="140" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.FreeNamedDataSlot(System.String)">
          <source>Frees a named data slot on all the contexts.</source>
          <target state="translated">Libera um slot de dados nomeado em todos os contextos.</target>       </trans-unit>
        <trans-unit id="141" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.FreeNamedDataSlot(System.String)">
          <source>Named data slots are public and can be manipulated by anyone.</source>
          <target state="translated">Slots de dados nomeada são públicos e podem ser manipulados por qualquer pessoa.</target>       </trans-unit>
        <trans-unit id="142" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.Freeze">
          <source>Freezes the context, making it impossible to add or remove context properties from the current context.</source>
          <target state="translated">Congela o contexto, possibilitando adicionar ou remover propriedades de contexto do contexto atual.</target>       </trans-unit>
        <trans-unit id="143" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.Freeze">
          <source>Context properties cannot be added after the context has been frozen.</source>
          <target state="translated">Propriedades de contexto não podem ser adicionadas após o contexto congelou.</target>       </trans-unit>
        <trans-unit id="144" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.Freeze">
          <source>The context is already frozen.</source>
          <target state="translated">O contexto já está congelado.</target>       </trans-unit>
        <trans-unit id="145" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetData(System.LocalDataStoreSlot)">
          <source>The data slot that contains the data.</source>
          <target state="translated">O slot de dados que contém os dados.</target>       </trans-unit>
        <trans-unit id="146" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetData(System.LocalDataStoreSlot)">
          <source>Retrieves the value from the specified slot on the current context.</source>
          <target state="translated">Recupera o valor do slot especificado no contexto atual.</target>       </trans-unit>
        <trans-unit id="147" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetData(System.LocalDataStoreSlot)">
          <source>Returns the data associated with <ph id="ph1">&lt;paramref name="slot" /&gt;</ph>.</source>
          <target state="translated">Retorna os dados associados ao <ph id="ph1">&lt;paramref name="slot" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="148" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetNamedDataSlot(System.String)">
          <source>The data slot name.</source>
          <target state="translated">O nome do slot de dados.</target>       </trans-unit>
        <trans-unit id="149" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetNamedDataSlot(System.String)">
          <source>Looks up a named data slot.</source>
          <target state="translated">Pesquisa um slot de dados nomeado.</target>       </trans-unit>
        <trans-unit id="150" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetNamedDataSlot(System.String)">
          <source>Returns a local data slot.</source>
          <target state="translated">Retorna um slot de dados locais.</target>       </trans-unit>
        <trans-unit id="151" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.GetNamedDataSlot(System.String)">
          <source>If the name has not been used, a new slot is allocated.</source>
          <target state="translated">Se o nome não foi usado, um novo slot será alocado.</target>       </trans-unit>
        <trans-unit id="152" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.GetNamedDataSlot(System.String)">
          <source>Named data slots are public and can be manipulated by anyone.</source>
          <target state="translated">Slots de dados nomeada são públicos e podem ser manipulados por qualquer pessoa.</target>       </trans-unit>
        <trans-unit id="153" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetProperty(System.String)">
          <source>The name of the property.</source>
          <target state="translated">O nome da propriedade.</target>       </trans-unit>
        <trans-unit id="154" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetProperty(System.String)">
          <source>Returns a specific context property, specified by name.</source>
          <target state="translated">Retorna uma propriedade de contexto específica, especificada por nome.</target>       </trans-unit>
        <trans-unit id="155" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.GetProperty(System.String)">
          <source>The specified context property.</source>
          <target state="translated">A propriedade de contexto especificada.</target>       </trans-unit>
        <trans-unit id="156" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The dynamic property to register.</source>
          <target state="translated">A propriedade dinâmica a ser registrada.</target>       </trans-unit>
        <trans-unit id="157" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The object/proxy for which the <bpt id="p1">&lt;c&gt;</bpt>property<ept id="p1">&lt;/c&gt;</ept> is registered.</source>
          <target state="translated">O objeto/proxy em que a <bpt id="p1">&lt;c&gt;</bpt>propriedade<ept id="p1">&lt;/c&gt;</ept> está registrada.</target>       </trans-unit>
        <trans-unit id="158" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The context for which the <bpt id="p1">&lt;c&gt;</bpt>property<ept id="p1">&lt;/c&gt;</ept> is registered.</source>
          <target state="translated">O contexto em que a <bpt id="p1">&lt;c&gt;</bpt>propriedade<ept id="p1">&lt;/c&gt;</ept> está registrada.</target>       </trans-unit>
        <trans-unit id="159" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Registers a dynamic property implementing the <ph id="ph1">&lt;see cref="T:System.Runtime.Remoting.Contexts.IDynamicProperty" /&gt;</ph> interface with the remoting service.</source>
          <target state="translated">Registra uma propriedade dinâmica que implementa a interface <ph id="ph1">&lt;see cref="T:System.Runtime.Remoting.Contexts.IDynamicProperty" /&gt;</ph> com o serviço de comunicação remota.</target>       </trans-unit>
        <trans-unit id="160" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source><ph id="ph1">&lt;see langword="true" /&gt;</ph> if the property was successfully registered; otherwise, <ph id="ph2">&lt;see langword="false" /&gt;</ph>.</source>
          <target state="translated"><ph id="ph1">&lt;see langword="true" /&gt;</ph> se a propriedade foi registrada com êxito; caso contrário, <ph id="ph2">&lt;see langword="false" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="161" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Based on <ph id="ph1">`obj`</ph> and <ph id="ph2">`ctx`</ph>, <ph id="ph3">`prop`</ph> is asked to contribute a sink that is placed at some location in the path of remoting calls.</source>
          <target state="translated">Com base em <ph id="ph1">`obj`</ph> e <ph id="ph2">`ctx`</ph>, <ph id="ph3">`prop`</ph> é solicitado a contribuir um coletor que é colocado em algum local no caminho de chamadas de comunicação remota.</target>       </trans-unit>
        <trans-unit id="162" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>If multiple properties are registered, their sinks will be called in an arbitrary order that can change between calls.</source>
          <target state="translated">Se várias propriedades são registradas, seus coletores serão chamados em uma ordem arbitrária que pode ser alterado entre chamadas.</target>       </trans-unit>
        <trans-unit id="163" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>If <ph id="ph1">`obj`</ph> is not <ph id="ph2">`null`</ph>, and then if it is a proxy, all calls made on the proxy are intercepted.</source>
          <target state="translated">Se <ph id="ph1">`obj`</ph> não é <ph id="ph2">`null`</ph>, e, em seguida, se for um proxy, todas as chamadas feitas no proxy são interceptadas.</target>       </trans-unit>
        <trans-unit id="164" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Otherwise, if <ph id="ph1">`obj`</ph> is a real object, all calls on the object are intercepted.</source>
          <target state="translated">Caso contrário, se <ph id="ph1">`obj`</ph> é um objeto real, todas as chamadas no objeto são interceptadas.</target>       </trans-unit>
        <trans-unit id="165" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The <ph id="ph1">`ctx`</ph> parameter must be <ph id="ph2">`null`</ph>.</source>
          <target state="translated">O <ph id="ph1">`ctx`</ph> parâmetro deve ser <ph id="ph2">`null`</ph>.</target>       </trans-unit>
        <trans-unit id="166" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>If <ph id="ph1">`ctx`</ph> is not <ph id="ph2">`null`</ph>, <ph id="ph3">`obj`</ph> must be <ph id="ph4">`null`</ph> and all calls entering and leaving the context are intercepted.</source>
          <target state="translated">Se <ph id="ph1">`ctx`</ph> não é <ph id="ph2">`null`</ph>, <ph id="ph3">`obj`</ph> deve ser <ph id="ph4">`null`</ph> e todas as chamadas que entram e saem do contexto são interceptadas.</target>       </trans-unit>
        <trans-unit id="167" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>If both <ph id="ph1">`ctx`</ph> and <ph id="ph2">`obj`</ph> are <ph id="ph3">`null`</ph>, all calls entering and leaving all contexts are intercepted.</source>
          <target state="translated">Se ambos os <ph id="ph1">`ctx`</ph> e <ph id="ph2">`obj`</ph> são <ph id="ph3">`null`</ph>, todas as chamadas que entram e saem todos os contextos são interceptadas.</target>       </trans-unit>
        <trans-unit id="168" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Either <ph id="ph1">&lt;paramref name="prop" /&gt;</ph> or its name is <ph id="ph2">&lt;see langword="null" /&gt;</ph>, or it is not dynamic (it does not implement <ph id="ph3">&lt;see cref="T:System.Runtime.Remoting.Contexts.IDynamicProperty" /&gt;</ph>).</source>
          <target state="translated"><ph id="ph1">&lt;paramref name="prop" /&gt;</ph> ou seu nome é <ph id="ph2">&lt;see langword="null" /&gt;</ph> ou não é dinâmico (não implementa <ph id="ph3">&lt;see cref="T:System.Runtime.Remoting.Contexts.IDynamicProperty" /&gt;</ph>).</target>       </trans-unit>
        <trans-unit id="169" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Both an object as well as a context are specified (both <ph id="ph1">&lt;paramref name="obj" /&gt;</ph> and <ph id="ph2">&lt;paramref name="ctx" /&gt;</ph> are not <ph id="ph3">&lt;see langword="null" /&gt;</ph>).</source>
          <target state="translated">Um objeto e um contexto são especificados (<ph id="ph1">&lt;paramref name="obj" /&gt;</ph> e <ph id="ph2">&lt;paramref name="ctx" /&gt;</ph> não são <ph id="ph3">&lt;see langword="null" /&gt;</ph>).</target>       </trans-unit>
        <trans-unit id="170" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>for plugging code into the CLR infrastructure.</source>
          <target state="translated">para conectar o código da infraestrutura de CLR.</target>       </trans-unit>
        <trans-unit id="171" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.RegisterDynamicProperty(System.Runtime.Remoting.Contexts.IDynamicProperty,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Associated enumeration: <ph id="ph1">&lt;see cref="F:System.Security.Permissions.SecurityPermissionFlag.Infrastructure" /&gt;</ph>.</source>
          <target state="translated">Enumeração associada: <ph id="ph1">&lt;see cref="F:System.Security.Permissions.SecurityPermissionFlag.Infrastructure" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="172" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.SetData(System.LocalDataStoreSlot,System.Object)">
          <source>The data slot where the data is to be added.</source>
          <target state="translated">O slot de dados em que os dados serão adicionados.</target>       </trans-unit>
        <trans-unit id="173" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.SetData(System.LocalDataStoreSlot,System.Object)">
          <source>The data that is to be added.</source>
          <target state="translated">Os dados que serão adicionados.</target>       </trans-unit>
        <trans-unit id="174" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.SetData(System.LocalDataStoreSlot,System.Object)">
          <source>Sets the data in the specified slot on the current context.</source>
          <target state="translated">Define os dados no slot especificado no contexto atual.</target>       </trans-unit>
        <trans-unit id="175" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.SetProperty(System.Runtime.Remoting.Contexts.IContextProperty)">
          <source>The actual context property.</source>
          <target state="translated">A propriedade de contexto real.</target>       </trans-unit>
        <trans-unit id="176" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.SetProperty(System.Runtime.Remoting.Contexts.IContextProperty)">
          <source>Sets a specific context property by name.</source>
          <target state="translated">Define uma propriedade de contexto específica por nome.</target>       </trans-unit>
        <trans-unit id="177" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.SetProperty(System.Runtime.Remoting.Contexts.IContextProperty)">
          <source>Adding properties to the default context is not allowed.</source>
          <target state="translated">Não é permitido adicionar propriedades ao contexto padrão.</target>       </trans-unit>
        <trans-unit id="178" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.SetProperty(System.Runtime.Remoting.Contexts.IContextProperty)">
          <source>The context is frozen.</source>
          <target state="translated">O contexto está congelado.</target>       </trans-unit>
        <trans-unit id="179" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.SetProperty(System.Runtime.Remoting.Contexts.IContextProperty)">
          <source>The property or the property name is <ph id="ph1">&lt;see langword="null" /&gt;</ph>.</source>
          <target state="translated">A propriedade ou o nome da propriedade é <ph id="ph1">&lt;see langword="null" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="180" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.ToString">
          <source>Returns a <ph id="ph1">&lt;see cref="T:System.String" /&gt;</ph> class representation of the current context.</source>
          <target state="translated">Retorna uma representação da classe <ph id="ph1">&lt;see cref="T:System.String" /&gt;</ph> do contexto atual.</target>       </trans-unit>
        <trans-unit id="181" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.ToString">
          <source>A <ph id="ph1">&lt;see cref="T:System.String" /&gt;</ph> class representation of the current context.</source>
          <target state="translated">Uma representação da classe <ph id="ph1">&lt;see cref="T:System.String" /&gt;</ph> do contexto atual.</target>       </trans-unit>
        <trans-unit id="182" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The name of the dynamic property to unregister.</source>
          <target state="translated">O nome da propriedade dinâmica cujo registro será cancelado.</target>       </trans-unit>
        <trans-unit id="183" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The object/proxy for which the <bpt id="p1">&lt;c&gt;</bpt>property<ept id="p1">&lt;/c&gt;</ept> is registered.</source>
          <target state="translated">O objeto/proxy em que a <bpt id="p1">&lt;c&gt;</bpt>propriedade<ept id="p1">&lt;/c&gt;</ept> está registrada.</target>       </trans-unit>
        <trans-unit id="184" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The context for which the <bpt id="p1">&lt;c&gt;</bpt>property<ept id="p1">&lt;/c&gt;</ept> is registered.</source>
          <target state="translated">O contexto em que a <bpt id="p1">&lt;c&gt;</bpt>propriedade<ept id="p1">&lt;/c&gt;</ept> está registrada.</target>       </trans-unit>
        <trans-unit id="185" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Unregisters a dynamic property implementing the <ph id="ph1">&lt;see cref="T:System.Runtime.Remoting.Contexts.IDynamicProperty" /&gt;</ph> interface.</source>
          <target state="translated">Cancela o registro de uma propriedade dinâmica que implementa a interface <ph id="ph1">&lt;see cref="T:System.Runtime.Remoting.Contexts.IDynamicProperty" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="186" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source><ph id="ph1">&lt;see langword="true" /&gt;</ph> if the object was successfully unregistered; otherwise, <ph id="ph2">&lt;see langword="false" /&gt;</ph>.</source>
          <target state="translated"><ph id="ph1">&lt;see langword="true" /&gt;</ph> se o objeto cancelou o registro com êxito; caso contrário, <ph id="ph2">&lt;see langword="false" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="187" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>The <ph id="ph1">&lt;paramref name="name" /&gt;</ph> parameter is <ph id="ph2">&lt;see langword="null" /&gt;</ph>.</source>
          <target state="translated">O parâmetro <ph id="ph1">&lt;paramref name="name" /&gt;</ph> é <ph id="ph2">&lt;see langword="null" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="188" translate="yes" xml:space="preserve" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Both an object as well as a context are specified (both <ph id="ph1">&lt;paramref name="obj" /&gt;</ph> and <ph id="ph2">&lt;paramref name="ctx" /&gt;</ph> are not <ph id="ph3">&lt;see langword="null" /&gt;</ph>).</source>
          <target state="translated">Um objeto e um contexto são especificados (<ph id="ph1">&lt;paramref name="obj" /&gt;</ph> e <ph id="ph2">&lt;paramref name="ctx" /&gt;</ph> não são <ph id="ph3">&lt;see langword="null" /&gt;</ph>).</target>       </trans-unit>
        <trans-unit id="189" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>for plugging code into the CLR infrastructure.</source>
          <target state="translated">para conectar o código da infraestrutura de CLR.</target>       </trans-unit>
        <trans-unit id="190" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Runtime.Remoting.Contexts.Context.UnregisterDynamicProperty(System.String,System.ContextBoundObject,System.Runtime.Remoting.Contexts.Context)">
          <source>Associated enumeration: <ph id="ph1">&lt;see cref="F:System.Security.Permissions.SecurityPermissionFlag.Infrastructure" /&gt;</ph>.</source>
          <target state="translated">Enumeração associada: <ph id="ph1">&lt;see cref="F:System.Security.Permissions.SecurityPermissionFlag.Infrastructure" /&gt;</ph>.</target>       </trans-unit>
      </group>
    </body>
  </file>
</xliff>