<Type Name="ExceptionMapper" FullName="System.ServiceModel.ExceptionMapper">
  <TypeSignature Language="C#" Value="public class ExceptionMapper" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit ExceptionMapper extends System.Object" />
  <TypeSignature Language="DocId" Value="T:System.ServiceModel.ExceptionMapper" />
  <TypeSignature Language="VB.NET" Value="Public Class ExceptionMapper" />
  <TypeSignature Language="C++ CLI" Value="public ref class ExceptionMapper" />
  <AssemblyInfo>
    <AssemblyName>System.ServiceModel</AssemblyName>
    <AssemblyVersion>4.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary><span data-ttu-id="81cc1-101">Define o mapeamento a ser usado para conversão de exceções em falha.</span><span class="sxs-lookup"><span data-stu-id="81cc1-101">Defines the mapping to be used for translating exceptions to fault.</span></span></summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public ExceptionMapper ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor() cil managed" />
      <MemberSignature Language="DocId" Value="M:System.ServiceModel.ExceptionMapper.#ctor" />
      <MemberSignature Language="VB.NET" Value="Public Sub New ()" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; ExceptionMapper();" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>System.ServiceModel</AssemblyName>
        <AssemblyVersion>4.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters />
      <Docs>
        <summary><span data-ttu-id="81cc1-102">Inicializa uma nova instância da classe <see cref="T:System.ServiceModel.ExceptionMapper" />.</span><span class="sxs-lookup"><span data-stu-id="81cc1-102">Initializes a new instance of the <see cref="T:System.ServiceModel.ExceptionMapper" /> class.</span></span></summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <MemberGroup MemberName="FromException">
      <AssemblyInfo>
        <AssemblyName>System.ServiceModel</AssemblyName>
        <AssemblyVersion>4.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Docs>
        <summary><span data-ttu-id="81cc1-103">Converte a exceção de entrada em uma falha.</span><span class="sxs-lookup"><span data-stu-id="81cc1-103">Translates the input exception to a fault.</span></span></summary>
      </Docs>
    </MemberGroup>
    <Member MemberName="FromException">
      <MemberSignature Language="C#" Value="public virtual System.ServiceModel.FaultException FromException (Exception ex);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance class System.ServiceModel.FaultException FromException(class System.Exception ex) cil managed" />
      <MemberSignature Language="DocId" Value="M:System.ServiceModel.ExceptionMapper.FromException(System.Exception)" />
      <MemberSignature Language="VB.NET" Value="Public Overridable Function FromException (ex As Exception) As FaultException" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; virtual System::ServiceModel::FaultException ^ FromException(Exception ^ ex);" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>System.ServiceModel</AssemblyName>
        <AssemblyVersion>4.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.ServiceModel.FaultException</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="ex" Type="System.Exception" />
      </Parameters>
      <Docs>
        <param name="ex"><span data-ttu-id="81cc1-104">A exceção a ser mapeada para uma falha.</span><span class="sxs-lookup"><span data-stu-id="81cc1-104">The exception to be mapped to a fault.</span></span></param>
        <summary><span data-ttu-id="81cc1-105">Converte a exceção de entrada em uma falha.</span><span class="sxs-lookup"><span data-stu-id="81cc1-105">Translates the input exception to a fault.</span></span></summary>
        <returns><span data-ttu-id="81cc1-106">A falha correspondente à exceção de entrada.</span><span class="sxs-lookup"><span data-stu-id="81cc1-106">The fault corresponding to the input exception.</span></span></returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="FromException">
      <MemberSignature Language="C#" Value="public virtual System.ServiceModel.FaultException FromException (Exception ex, string soapNamespace, string trustNamespace);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance class System.ServiceModel.FaultException FromException(class System.Exception ex, string soapNamespace, string trustNamespace) cil managed" />
      <MemberSignature Language="DocId" Value="M:System.ServiceModel.ExceptionMapper.FromException(System.Exception,System.String,System.String)" />
      <MemberSignature Language="VB.NET" Value="Public Overridable Function FromException (ex As Exception, soapNamespace As String, trustNamespace As String) As FaultException" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; virtual System::ServiceModel::FaultException ^ FromException(Exception ^ ex, System::String ^ soapNamespace, System::String ^ trustNamespace);" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>System.ServiceModel</AssemblyName>
        <AssemblyVersion>4.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.ServiceModel.FaultException</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="ex" Type="System.Exception" />
        <Parameter Name="soapNamespace" Type="System.String" />
        <Parameter Name="trustNamespace" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="ex"><span data-ttu-id="81cc1-107">A exceção a ser mapeada para uma falha.</span><span class="sxs-lookup"><span data-stu-id="81cc1-107">The exception to be mapped to a fault.</span></span></param>
        <param name="soapNamespace"><span data-ttu-id="81cc1-108">O Namespace SOAP a ser usado ao gerar a falha mapeada.</span><span class="sxs-lookup"><span data-stu-id="81cc1-108">The SOAP Namespace to be used when generating the mapped fault.</span></span></param>
        <param name="trustNamespace"><span data-ttu-id="81cc1-109">O Namespace WS-Trust a ser usado ao gerar a falha mapeada.</span><span class="sxs-lookup"><span data-stu-id="81cc1-109">The WS-Trust Namespace to be used when generating the mapped fault.</span></span></param>
        <summary><span data-ttu-id="81cc1-110">Converte a exceção de entrada em uma falha.</span><span class="sxs-lookup"><span data-stu-id="81cc1-110">Translates the input exception to a fault.</span></span></summary>
        <returns><span data-ttu-id="81cc1-111">A falha correspondente à exceção de entrada.</span><span class="sxs-lookup"><span data-stu-id="81cc1-111">The fault corresponding to the input exception.</span></span></returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="HandleSecurityTokenProcessingException">
      <MemberSignature Language="C#" Value="public virtual bool HandleSecurityTokenProcessingException (Exception ex);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance bool HandleSecurityTokenProcessingException(class System.Exception ex) cil managed" />
      <MemberSignature Language="DocId" Value="M:System.ServiceModel.ExceptionMapper.HandleSecurityTokenProcessingException(System.Exception)" />
      <MemberSignature Language="VB.NET" Value="Public Overridable Function HandleSecurityTokenProcessingException (ex As Exception) As Boolean" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; virtual bool HandleSecurityTokenProcessingException(Exception ^ ex);" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>System.ServiceModel</AssemblyName>
        <AssemblyVersion>4.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="ex" Type="System.Exception" />
      </Parameters>
      <Docs>
        <param name="ex"><span data-ttu-id="81cc1-112">A exceção de entrada.</span><span class="sxs-lookup"><span data-stu-id="81cc1-112">The input exception.</span></span></param>
        <summary><span data-ttu-id="81cc1-113">Determina se uma exceção que ocorreu durante o processamento de um token de segurança deve ser tratada.</span><span class="sxs-lookup"><span data-stu-id="81cc1-113">Determines whether an exception that occurred during the processing of a security token should be handled.</span></span></summary>
        <returns>
          <span data-ttu-id="81cc1-114"><see langword="True" /> se a exceção deve ser tratada; caso contrário, <see langword="false" />.</span><span class="sxs-lookup"><span data-stu-id="81cc1-114"><see langword="True" /> if the exception should be handled; otherwise, <see langword="false" />.</span></span></returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>